.App {
  text-align: center;
}

h1 {
  font-size: 50px;
}

h3 {
  margin-top: 10px;
  font-size: 26px;
}

button {
  padding: 15px;
  border-radius: 20px;
  font-size: 25px;
  border: 0;
  cursor: pointer;
}
